<div class="backgroundColor container-fluid">
  <h3>{{ actionType }} Student</h3>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="Id">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="Name">Name:</label>
          <input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && name.errors }" />
          <div *ngIf="submitted && name.errors" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="Email">Email address:</label>
          <input type="email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && email.errors }" />
          <div *ngIf="submitted && email.errors" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="Phone">Phone:</label>
          <input type="tel" formControlName="Phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && phone.errors }" />
          <div *ngIf="submitted && phone.errors" class="invalid-feedback">
            <div *ngIf="phone.errors.required">Phone is required</div>
            <div *ngIf="phone.errors.tel">Phone must be a valid phone number</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="Gender">Gender:</label>
          <select formControlName="Gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && gender.errors }">
            <option value=""></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div *ngIf="submitted && gender.errors" class="invalid-feedback">
            <div *ngIf="gender.errors.required">Gender is required</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="BloodGroup">Blood Group:</label>
          <select formControlName="BloodGroup" class="form-control" [ngClass]="{ 'is-invalid': submitted && bloodGroup.errors }">
            <option value="">Select Blood Group</option>
            <option *ngFor="let group of bloodGroups">{{ group }}</option>
          </select>
          <div *ngIf="submitted && bloodGroup.errors" class="invalid-feedback">
            <div *ngIf="bloodGroup.errors.required">Blood group is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formGroupName="Address">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="Street">Street:</label>
          <input type="text" formControlName="Street" class="form-control" [ngClass]="{ 'is-invalid': submitted && street.errors }" />
          <div *ngIf="submitted && street.errors" class="invalid-feedback">
            <div *ngIf="street.errors.required">Street is required</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="City">City:</label>
          <input type="text" formControlName="City" class="form-control" [ngClass]="{ 'is-invalid': submitted && city.errors }" />
          <div *ngIf="submitted && city.errors" class="invalid-feedback">
            <div *ngIf="city.errors.required">City is required</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="State">State</label>
          <input type="text" formControlName="State" class="form-control" />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="Country">Country:</label>
          <input type="text" formControlName="Country" class="form-control" [ngClass]="{ 'is-invalid': submitted && country.errors }" />
          <div *ngIf="submitted && country.errors" class="invalid-feedback">
            <div *ngIf="country.errors.required">Country is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary mr-1">Submit</button>
      <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
    </div>
  </form>
</div>
